body {
overflow: hidden;
background-color: black;
border: 0;
padding: 0;
margin: 0 auto;
}

.ciel {
width: 100vh;
height: 100vh;
position: absolute;
}

#zoom {
background: #AE4337;
height: 5.3vw;
width: 100%;
text-align: center;
line-height: 5.3vw;
color: white;
font-size: 16px;
}
#blocGif1{
position: relative;
bottom: 0;
}

#blocGif2{
position: relative;
top: 0;
right: 100%;
}

#blocGif3{
position: relative;
top: 0;
right:100%;
}
#blocGif4{
position: relative;
bottom: 100px;
right: 35%;
}

.bloc1{
height: 100%;
width: 100%;
display: block-inline;
}

.placement {
position: absolute;
top: 20vh;
left: 30vh;
}

.img-scale:hover{
transform: scale(1.05);
-moz-transform: scale(1.05);
-ms-transform: scale(1.05);
-webkit-transform: scale(1.05);
transition-duration: 0.5s;
cursor: pointer;
z-index: 2;
box-shadow: 1px 1px 12px black;
}
.box {
  float: left;
  overflow: hidden;
}

.box.one {
  height: 280px;
  width: 25%;
}
.box.two {
  height: 100px;
  width: 25%;
}
.box.three {
  height: 100px;
  width: 50%;

}
.box.four {
  height: 180px;
  width: 75%;
}

.overlay
{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
display: none;
z-index: 999;
background: rgba(0,0,0,0.7);
}
.overlay a
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
  .overlay_container img
  {
    background: #ffffff;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }

.overlay:target { display: table; }
