body {
  overflow: hidden;
  background-color: black;
}
#videoBackground{
  position: relative;
}
#videoBg{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  left:0;
  top:0;

}
#texteVideoBg{
  font-family: monospace;
  font-size: 3em;
  color: white;
  position: absolute;
  width: 100%;
  height: 20vh;
  line-height: 20vh;
  top:0;
  overflow: hidden;
  text-align: center;
  z-index: 2;
}
