.bouton {
  width: 40%;
  height: auto;
  cursor: pointer;
  border:outset 2px solid #999999; border-radius: 20px;
  background-color: white;
  top:0;
  left: 0;
}
.bouton:active{
  border: inset;
}
.boutonAllumage {
  width: 60vh;
  height: 15vh;
}

.boutonOff {
  width: 60vh;
  height: 15vh ;
}


/*--css de l'iframe--
.iframePosition {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*/
/*--switch on/off de la telecommande--*/
.onoffswitch {
    width: 100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    top:25.4vh;
    left:7.5vh;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: black; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: white; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width:
    18px; margin: 6px;
    background: #FFFFFF;
    position: relative;
    opacity: 0; /* ceci a été changé */
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
